@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* .roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
} */

.skip-link {
    position: absolute;
    top: -3rem;
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px;
    z-index: 1000;
}

.skip-link:focus {
    top: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: clamp(1rem, 2.5vw, 1.125rem);
    line-height: 1.6em;
    word-spacing: 0.12em;


}

.text {
    max-width: 70ch;
    margin: 0 auto;
}

h2.big-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: var(--dark-red);
    margin: 0 0 2rem 0;
}

h3.small-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--dark-red);
    margin: 3rem 0 1rem 0;
    padding: 0;
}


@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        transition-duration: 0.01 !important;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: var(--dark-background-color);
        color: var(--dark-foreground-color);
    }
}