html {
    scroll-behavior: smooth;
}
.text {

    p {
        margin-top: 0.5rem;
    }
}

.medium-title {
    padding-top: 3.5rem;
}

.index-nav {
    background-color: white;
    padding: 1rem 10rem;
    margin: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);;

    position: sticky;
    top: 0;


    display: flex;
    justify-content: center;
    gap: 2rem;

    a {
        text-decoration: none;
        color: black;
    }
    a:visited {
        color: black;
    }
}

.index-nav a.active {
    color: var(--dark-red);
    font-weight: 600;
}

.index-nav a:hover {
    color: var(--dark-red);
    font-weight: 600;
}

/* Dropdown Styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    cursor: pointer !important;

    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 180px;
    z-index: 10;
}


.dropdown-menu a {
    display: block;
    cursor: pointer;
    pointer-events: auto;
    padding: 10px;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-menu a:hover {
    background: #f0f0f0;
    cursor: pointer !important;
    color: var(--dark-red);
    pointer-events: auto;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
    cursor: pointer;
}